.header{
  background-color: rgba(255,255,255, 0.5);
  padding: 20px;
  color: purple;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* margin: 30px 50px 0px 50px; */
  font-style: italic;
  display: flex;
  width: 99%

}

body {
  background-image: url('./images/jason-blackeye--0QZEy3nCTA-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.floatRight{
  justify-content: right;
}

.signupForm {
  background-color: rgba(255,255,255, 0.5) !important;
  /* color: white !important; */
}