.header{
  background-color: rgba(255,255,255, 0.5);
  padding: 20px;
  color: purple;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  display: flex;
  width: 99%

}

body {
  background-image: url('./images/snowRoad.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.floatRight{
  justify-content: right;
}

.signupForm {
  background-color: rgba(27, 26, 26, .3) !important;
  width: 100% !important;
  /* color: white !important; */
}

.signUpForm{
  background-color: rgba(255,255,255, 0.5) !important;
}