.header{
  background-color: rgba(204, 202, 202, 0.5);
  padding-left: 10px;
  color: purple;
  /* font-size: ; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  display: flex;
  width: 100%;
  border-bottom: 4px solid black;
  opacity: 1;

}

html {
  background-image: url('./images/snowRoad.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.floatRight{
  justify-content: right;
}

.signupForm {
  background-color: rgba(27, 26, 26, .3) !important;
  width: 100% !important;
  /* color: white !important; */
}

.signUpForm{
  background-color: rgba(255,255,255, 0.5) !important;
}

