

.button {
    height: 3vh;
    justify-content: baseline;
    border-radius: 5px;
    margin-left: 10px;
    vertical-align: bottom;
    margin-top:80%
  
}

.title {
    display: inline-block;
    text-decoration: underline;
    vertical-align: bottom ;
    margin-right: 9vw;
    margin-left: 9vw;

}

.wrapper-div {
    vertical-align: bottom
  }

  .logo {
      width: 200px;
      height: 100%
  }



  .MuiAvatar-root {
      margin-left: 100px !important;
      margin-top: 15px !important;
      height: 80px !important;
      width: 80px !important;
    
      font-size: 4vh !important;
   
  }

  .MuiCardContent-root {
      padding: 0px !important;
      text-align: center !important;
  }

  .avatar {
      background-color: purple !important;
  }